<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
  	<% @contacts.each_with_index do |contact,  index| %>
  		<tr>
			<th scope="col"><%= index + 1 %></th>
			<th scope="col"><%= contact.first_name %></th>
			<th scope="col"><%= contact.last_name %></th>
			<th scope="col"><%= contact.mobile %></th>
			<th scope="col"><%= contact.email %></th>
			<th scope="col"><%= contact.message %></th>
    	</tr>
  	<% end %>
  </tbody>
 </table>