<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Contact Us Form!</p>
    <p>
    Details<br>
    --------------------------
    </p>
    <p>First Name: <%= @contact.first_name %></p>
    <p>Last Name: <%= @contact.last_name %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Phone: <%= @contact.mobile %></p>
    <p>Message: <%= @contact.message %></p>
    <p>
  </body>
</html>